*{
    box-sizing: border-box;
}
@font-face {
  font-family: 'HubllandRegular';
  src: url('font/HubllandRegular.eot');
  src: url('font/HubllandRegulard41d.eot?#iefix') format('embedded-opentype'),
       url('font/HubllandRegular.svg#HubllandRegular') format('svg'),
       url('font/HubllandRegular.ttf') format('truetype'),
       url('font/HubllandRegular.woff') format('woff'),
       url('font/HubllandRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.content h3{
    font-weight: 400;
    font-size: 20px;
    margin: 5px;
    margin-bottom: 20px;
    margin-left:0;
}
::-moz-selection {
    color: black;
    background: rgba(160,160,160,0.7);
}
::selection {
    color: black;
    background: rgba(160,160,160,0.7);
}
body, html{
    padding: 0px;
    margin: 0px;
    height:100%;
    width:100%;
    z-index: 0;
    color: #363636;
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
}
body.dark, html.dark{
    color: #ffffff;
    background: #363636;
}
.carousel-cell-image {
  transition: opacity 0.4s;
  opacity: 0;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}
.wrapper{
    padding: 0px;
    margin: 0px;
    height:100%;
    width: calc(100% - 100px);
    background-color: #ffffff;
    transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    position: relative;
    margin-left: 100px;
}
body.dark .wrapper{
    background-color: #363636;
}
body.menu-open .wrapper{
    margin-top: 80vh;
}
.menu {
    margin: 0;
    position: fixed;
    top:0; left:0;
    width: 100%;
    text-align: center;
    overflow: hidden;
    transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    height: 0;
    z-index: 3;
    
    /* IE Hacks */
    border-bottom-right-radius: 0 !important\9
    *border-bottom-right-radius: 0 !important;
    _border-bottom-right-radius: 0 !important;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .menu {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-radius: 0 !important;
        ms-border-radius: 0 !important;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0){
    .menu {
        border-bottom-left-radius: 100% 50px;
        border-bottom-right-radius: 100% 50px;
    }
}
body.menu-open .menu{
    height: 80vh;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
section{
    min-height: 100vh;
    margin:0;
    padding:0;
    width: 100%;
    position: relative;
}
#one{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size:300px;
    overflow: hidden;
    transition: height 0.6s ease;
    cursor: pointer;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}
.preload{
    background-image: 
}
.bigcheese{
    font-size: inherit;
    text-align: center;
    font-weight: normal;
    display: inline;
    justify-content: center;
    transition: 0.3s ease transform;
    align-items: baseline;
    align-content: center;
    transform: scale(1,1);
	font-family: 'HubllandRegular', sans-serif;
}
body.is-loading .bigcheese{
    transform: scale(0,0);
}
.hamburger{
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 0.15s linear opacity, 0.15s linear filter, 0.3s ease right;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 4;
}
body.is-loading .hamburger{
    right: -200px;
}
.hamburger:hover{
    opacity: 0.7; 
}
.hamburger-box{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
}
.hamburger-inner{
    display: block;
    top: 50%;
    margin-top: -2px;
    transition: 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) all;
}
.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after{
    width: 50px;
    height: 6px;
    background-color: #363636;
    border-radius: 4px;
    position: absolute;
    transition: ease 0.15s transform;
}
.hamburger-inner:before, .hamburger-inner:after{
    content: "";
    display: block;
}
.hamburger-inner:before{
    top: -13px;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger-inner:after{
    bottom: -13px; 
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
body.menu-open .hamburger-inner{
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
body.menu-open .hamburger-inner, body.menu-open .hamburger-inner:before, body.menu-open .hamburger-inner:after, body.dark .hamburger-inner, body.dark .hamburger-inner:before, body.dark .hamburger-inner:after{
    background: #ffffff;
}
body.menu-open.dark .hamburger-inner, body.menu-open.dark .hamburger-inner:before, body.menu-open.dark .hamburger-inner:after{
    background: #363636;
}
body.menu-open .hamburger-inner:before{
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
body.menu-open .hamburger-inner:after{
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.content h1{
    font-size: 80px;
    margin-bottom: 0;
}
.content{
    max-width: 80%;
    margin: auto;
    box-sizing: border-box;
    width: 1100px;
    min-height: calc(100vh - 50px);
    margin-top: 50px;
}
.content.portfolio{
    margin-bottom: 100px;
}
.advice {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    left: 0;
    font-size: 40px;
    font-weight: 700;
    animation-name: pulseOpacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes pulseOpacity {
    0%   {opacity: 0.8;bottom: 5px}
    20%  {opacity: 0.8;bottom: 5px}
    60%  {opacity: 0.1;bottom: 15px}
    85%  {opacity: 0.8;bottom: 2px}
    100%  {opacity: 0.8;bottom: 5px}
}
.menu-item {
    opacity: 0;
    padding-left: -20px;
    transition: 0.25s ease all;
    font-size: 40px;
    color: #ffffff;
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    margin: 15px auto;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0) scale(0,0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
body.dark .menu-item{
    color: #363636;
}
body.dark .menu-item:before{
    background: #363636;
    opacity: 1;
}
.menu-item:before {
    content: "";
    position: absolute;
    z-index: -1;
    top:0;bottom:0;left:0;right:0;
    background: #ffffff;
    transform: scale(0);
    width: 100%;
    height: 100%;
    border-radius: 100px;
    opacity: 0.7;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.05) transform;    
}
.menu-item:hover{
    color: #363636;
}
body.dark .menu-item:hover{
    color: #ffffff;
}
.menu-item:hover:before{
    transform: scale(1);
}
.menu-item:first-of-type{
    margin-top: 80px;
}
.menu-item:active{
    transform: scale(1.2) !important;
}
body.menu-open .menu-item {
    transform: perspective(1px) translateZ(0) scale(1, 1);
    opacity: 1;
}
a{
    color: inherit;
    text-decoration: inherit;
}

/* Toggle */
.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
.switch input {
    display:none;
}
.slider {
    background-color: rgba(255,255,255,0.5);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
.slider:before {
    background-color: #ffffff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}
#checkbox:checked + .slider:before {
  	transform: translateX(26px);
	background-color: #363636;
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.togglebox{
	position: absolute;
	bottom: 25px;
	right: 10px;
	z-index: 4;
    display: none;
}
body.menu-open .togglebox{
    display: block;
}
.title {
    font-size: 25px;
    width: 100%;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    overflow: hidden;
    transform: scale(1,1);
    transition: 0.3s ease transform;
}
body.is-loading .title{
    transform: scale(0,0);
}
.contact{
    position: fixed;
    transform: translateX(-90vw) translateX(100px);
    left: 0;
    /*left: calc(-90% + 100px);*/
    top: 0;
    background: #363636;
    width: calc(90% + 10px);
    height: 100%;
    color: #ffffff;
    cursor: pointer;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.05) all;
}
body.is-loading .contact{
    /*left: -100%;*/
    transform: translateX(-100vw);
}
body.contact-open .contact{
    /*left: -10px;*/
    transform: translateX(-10px);
    cursor: default;
}
body.dark .contact{
    background: #ffffff;
    color: #363636;
}
.contact-button {
    position: absolute;
    bottom: 20px;
    right: 15px;
    z-index: 2;
    cursor: pointer;
    font-size: 60px;
    transition: 0.3s ease bottom;
    cursor: pointer;
}
body.menu-open .contact-button{
    bottom: -150px;
}

/* FORM CSS */
form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
form .half{
    width: calc(50% - 10px);
    padding: 10px;
}
.input-wrap{
    background: #eeeeee;
    margin: 5px;
    width: 100%;
    padding: 10px;
}
.input-wrap label{
    float: left;
}
.about-me{
	margin: 20px 0 50px 0;
    font-weight: 400;
}
.input-wrap input{
    float: right;
    width: calc(100% - 30px) !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 3px !important;
}
form .input-wrap i{
    color: #363636;
    margin-top: 7px;
}
form .button{
    font-size: 25px;
    padding: 15px 30px;
    border: none;
    outline: 0;
    cursor: pointer;
    background: #eeeeee;
    margin: 5px;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}
.showcase-button-special:not(.button-round){
    border-radius: 0px !important;
}
.showcase .button, .showcase-button-special{
  	display: inline-block;
	padding: 15px 25px;
    border-radius: 50px;
    font-size: 18px;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	position: relative;
  	overflow: hidden;
    color: #363636;
  	background: #dedede;
  	-webkit-transition: 0.2s ease all;
	transition: 0.2s ease all;
}
.showcase-button-special:before:not(.button-round){
    border-radius: 0px !important;
}
.showcase .button:before, .showcase-button-special:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    background: #cdcdcd;
    transform: scale(0);
	transition: transform 0.2s ease-out;
}

.showcase .button:hover, .button:focus, .button:active, .showcase-button-special:focus, .showcase-button-special:hover, .showcase-button-special:active{
  	-webkit-box-shadow: 0px 0px 20px 0px rgba(130,130,130,0.5);
	-moz-box-shadow: 0px 0px 20px 0px rgba(130,130,130,0.5);
	box-shadow: 0px 0px 20px 0px rgba(130,130,130,0.5);
	cursor: pointer;
    color: white;
}
.showcase .button:hover:before, .button:focus:before, .button:active:before, .showcase-button-special:hover:before, .showcase-button-special:focus:before, .showcase-button-special:active:before{
  	-webkit-transform: scale(2);
  	transform: scale(2);
}
form .button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    background: #dedede;
    transform: scale(0);
    transition: 0.2s ease-out transform;
}
form .button:hover:before, form .button:focus:before, form .button:active:before {
    transform: scale(2);
}
form input[type="text"], form input[type="date"], form input[type="datetime"], form input[type="email"], form input[type="number"], form input[type="search"], form input[type="tel"], form input[type="time"], form input[type="url"], form textarea, form select, form input[type="password"]{
    border: none;
    font-size: 20px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #eeeeee;
    color: #363636;
}
form:not(#createform) textarea{
    min-height: 200px;
    max-height: 300px;
}
form select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}
form label {
  display: block;
  margin-bottom: 8px;
}
.portfolio-box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.portfolio-item{
    position: relative;
    background: #efefef;
    margin: 5px;
    flex-basis: 300px;
    padding: 15px 10px;
    flex-grow: 1;
    cursor: pointer;
    height: 250px;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.2s ease;    
    max-width: 500px;
}
.portfolio-img {
    width: 80%;
    position: absolute;
    overflow: hidden;
    border-radius: 3px;
    right: -40%;
    top: 7.5%;
    transition: 0.3s ease right, 0.3s ease left, 0.3s ease bottom;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    max-height: 85%;
}
.portfolio-item.special1 .portfolio-img{
    margin-right: -40%;
    right: 50%;
    top:auto;
    bottom: -40%;
}
.portfolio-item.special1:hover .portfolio-img{
    bottom: -20%;
    right: 50%;
    left: auto;
}
.portfolio-item:hover .portfolio-img{
    right: -20%;
}
.portfolio-item:hover .portfolio-img img{
    filter: grayscale(0) !important;
}
.portfolio-img img, .portfolio-img-special2 img{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    filter: grayscale(0.95);
}
.portfolio-title {
    font-size: 23px;
    text-align: right;
    color: #363636;
    max-width: calc(60% - 10px);
    font-weight: 700;
    opacity: 1;
    transition: 0.3s ease opacity;
    margin-top: 20px;
    z-index: 2;
    position: relative;
}
.portfolio-item.special .portfolio-title{
    max-width: calc(80% - 10px);
}
.portfolio-item.special1 .portfolio-title{
    text-align: center;
    max-width: calc(100% - 20px);
}
.portfolio-item:hover .portfolio-title{
    opacity: 0;
}
.portfolio-item.left .portfolio-title{
    text-align: left;
    margin-left: calc(40% + 10px);
}
.portfolio-item.left .portfolio-img{
    right: auto;
    left: -40%;
}
.portfolio-item.left:hover .portfolio-img{
    right: auto;
    left: -20%;
}
.portfolio-item .tag{
    padding: 4px 10px;
    font-size: 14px;
    color: #ffffff;
    background: #363636;
    font-weight: 400;
    border-radius: 20px;
    display: inline-block;
}
.portfolio-item .portfolio-button {
    width: 65px;
    height: 65px;
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
    background: #363636;
    transform: scale(0);
    opacity: 0;
    transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s, opacity ease 0.3s;
    text-align: center;
    margin-top: -32.5px;
    margin-left: -32.5px;
    line-height: 65px;
    vertical-align: middle;
    border-radius: 100%;
    top: 50%;
    left: 20%;
    position: absolute;
}
.portfolio-item.special .portfolio-button, .portfolio-item.special1 .portfolio-button{
    left: 50%;
    top: 33.333%;
}
.portfolio-item.special.up .portfolio-button, .portfolio-item.special1.up .portfolio-button{
    left: 50%;
    top: 20%;
}
.portfolio-item.left .portfolio-button{
    left: 80%;
}
.portfolio-item:hover .portfolio-button{
    transform: scale(1);
    opacity: 1;
}
.portfolio-item:hover .portfolio-button:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
.portfolio-button:active{
    transform: scale(3) !important;
}
.portfolio-item:hover .portfolio-img-special2 img{
    filter: grayscale(0);
}
.portfolio-img-special {
    position: absolute;
    width: 90%;
    bottom: 17%;
    filter: grayscale(0.95);
    left: 5%;
    transition: 0.6s ease transform, 0.6s ease left, 0.6s ease bottom;
    transition-delay: 0.1s;
}
.portfolio-item:hover .portfolio-img-special {
    transform: rotate(10deg);
    left: -30%;
    bottom: 23%;
    filter: grayscale(0);
}
.portfolio-img img:first-of-type:not(.blimp){
    filter: grayscale(0) !important;
}
.portfolio-img-special img{
    width: 100%;
    display: block;
}
.portfolio-img-special2 {
    width: 80%;
    position: absolute;
    right: 50%;
    margin-right: -40%;
    bottom: 20%;
    max-height: 30%;
    transition: 0.3s ease transform;
}
.portfolio-img-special2 img{
    width: auto;
    max-width:100%;
    max-height:100%;
}
.portfolio-item:hover .portfolio-img-special2 {
    transform: scale(1.1,1.1);
}

.portfolio-background {
    height: 100%;
    width: 100%;
    filter: grayscale(0.95);
    position: absolute;
    z-index: 0;
    top:0; left:0;
    transition: transform 0.3s ease;
    transform: scale(1,1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}
.portfolio-item:hover .portfolio-background {
    filter: grayscale(0);
    transform: scale(1.1,1.1);
}
footer {
    padding: 10px;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    color: #bbbbbb;
    margin-top: 30px;
}
.portfolio-item.item-hidden{
    transform: scale(0);
}
.portfolio-filter {
    display: inline-block;
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
.portfolio-item .portfolio-title small{
	font-size: 70%;
	opacity: 0.8;
}
.portfolio-filters{
    margin-bottom: 20px;
    position: relative;
    float: left;
	clear:both;
	margin-top: 15px;
}
.portfolio-filters:before{
    content:'';
    position: absolute;
    height: 3px;
    background: #363636;
    border-radius: 4px;
    width: 25px;
    bottom: 0;
    left: 6px;
    transition: 0.3s ease all;
}
body.dark .portfolio-filters:before{
    background: #ffffff;
}
.left:not(.portfolio-item){
    margin: 30px;
    width: 50%;
    transition: all 0.3s ease;
    opacity: 1;
}
.showcase h1{
    font-size: 38px;
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 0;
}
.left:not(.portfolio-item) img{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
.showcase {
    width: 96%;
    margin-left 2.5%;
    display: flex;
    justify-content: safe center;
    align-items: center;
    align-content: safe center;
    min-height: 95vh;
    margin: 2.5% auto;
    position: relative;
}
.right {
    margin: 30px;
}
.browser-window {
    width: 100%;
    overflow: hidden;
    border-radius: 0.5vw;
    margin-bottom: 25px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
body.is-loading .left:not(.portfolio-item){
    transform: translate(-150px);
    opacity: 0;
}
.browser-toggle {
    margin: auto;
    font-size: 20px;
    width: 100%;
    text-align: center;
}
.languages {
    font-size: 18px;
    margin-bottom: 10px;
    color: #bbbbbb;
}
.languages.languages-sub{
	font-size: 18px;
	font-weight: 600 !important;
    line-height: 1.5;
}
.languages span{
    border-radius: 3px;
    background: #eeeeee;
    padding: 3px 6px;
    display: inline-block;
    margin: 2px;
}
.browser-window-mobile {
    margin: auto;
    display:none;
    width: 40%;
    position: relative;
    margin-bottom: 20px;
    background: transparent;
}
.browser-window-mobile .phone-button{
    height: 30px;
    width: 80%;
    background: #ffffff;
    position: absolute;
    top: 10px;
    left: 10px;
}
.browser-window-mobile img{
    width: 100%;
    display: block;
    background-size: 93% auto;
    background-repeat: no-repeat;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-position-x: center;
    background-position-y: 4vw;
    border-radius: 2.05vw;
    background-color: #3c4652;
}
.showcase .right p, .right img{
    width: 500px;
    font-size: 18px;
    display: block;
}
.pc-toggle, .mobile-toggle {
    cursor: pointer;
}
.pc-toggle:hover, .mobile-toggle:hover {
    opacity: 0.5;
}
.html-tag:hover{
    background: #e54c21;
    color: white;
}
.css-tag:hover{
    background: #1b73ba;
    color: white;
}
.js-tag:hover{
    background: #ffc732;
    color: white;
}
.php-tag:hover{
    background: #4f5b93;
    color: white;
}

/* Flickity Fullscreen */
.flickity-enabled.is-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100% !important;
    background: #363636;
    padding-bottom: 35px;
    z-index: 20;
}
body.dark .flickity-enabled.is-fullscreen{
    background: #ffffff;
}
.flickity-button, .flickity-button:hover, .flickity-button:focus, .flickity-button:active {
    background: transparent;
    outline: 0 !important;
    border: none !important;
    box-shadow: none;
}
.flickity-button-icon:hover{
    transform: scale(1.1);
}
.flickity-prev-next-button {
    width: 40px;
    height: 40px;
}
.carousel.is-fullscreen .flickity-button-icon, body.dark .carousel:not(.is-fullscreen) .flickity-button-icon, body.dark .flickity-button, body.dark .flickity-button-icon{
    fill: #ffffff;
}
.carousel:not(.is-fullscreen) .flickity-button-icon, .flickity-button, .flickity-button, body.dark .carousel.is-fullscreen .flickity-button-icon{
    fill: #363636;
}
.carousel:not(.is-fullscreen) .flickity-prev-next-button.previous{
    left: 0;
}
.carousel:not(.is-fullscreen) .flickity-prev-next-button.next{
    right: 0;
}
.flickity-button:disabled {
    opacity: 0.3;
}
.carousel{
    transition: 0.3s ease all;
    margin-bottom: 20px;
    padding-bottom: 70%;
}
.carousel.is-fullscreen{
    margin-bottom: 0;
}
.carousel-cell {
    width: 100%;
    height: 100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.carousel-cell img {
    max-width: calc(100% - 80px);
    max-height: calc(100% - 60px);
    width: auto !important;
    height: auto !important;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 0.25vw;
}
.flickity-enabled.is-fullscreen .carousel-cell img {
    max-width: calc(100% - 90px);
    max-height: calc(100% - 100px);
}
.flickity-viewport{
    position: absolute;
    width: 100%;
    height: 100%;
}
.flickity-enabled.is-fullscreen .flickity-page-dots {
    bottom: 20px;
    display: block;
}
.flickity-enabled .flickity-page-dots {
    display: none;
}
.flickity-page-dots .dot {
    width: 5px;
    height: 5px;
    opacity: 1;
    cursor: pointer;
    background: #ffffff;
    transition: 0.4s ease transform;
}
body.dark .flickity-page-dots .dot{
    background: #363636;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    transform: scale(2.5);
}
html.is-flickity-fullscreen {
    overflow: hidden;
}
.flickity-fullscreen-button {
    display: block;
    right: 8px;
    bottom: -8px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    outline: 0 !important;
    border: none !important;
}
.flickity-enabled.is-fullscreen .flickity-fullscreen-button {
    bottom: 20px;
    right: 20px;
}
.flickity-rtl .flickity-fullscreen-button {
    right: auto;
    left: 10px;
}
.flickity-fullscreen-button-exit{display: none}
.flickity-enabled.is-fullscreen .flickity-fullscreen-button-exit { display: block; }
.flickity-enabled.is-fullscreen .flickity-fullscreen-button-view { display: none; }
.flickity-fullscreen-button .flickity-button-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 2.5px;
    top: 2.5px;
}
.apogee-image {
    background-image: url("img/4971361-mars-space-wallpapers.jpg");
    background-size: 150% auto;
    background-position: center left;
    border: none;
    outline: 0;
    box-shadow: inset 0 0 10px #ffffff;
    animation-name: apogee-animation;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}
@keyframes apogee-animation {
    0%   {background-position: top left}
    47%  {background-position: center right}
    53%  {background-position: center right}
    100%  {background-position: top left}
}
.image-dark, body.dark .image-light, .flickity-enabled.is-fullscreen .image-light, body.dark .flickity-enabled.is-fullscreen .image-dark{
    display: none !important;
}
.image-light, body.dark .image-dark, .flickity-enabled.is-fullscreen .image-dark, body.dark .flickity-enabled.is-fullscreen .image-light{
    display: block !important;
}
#greenclub .showcase .left .carousel .image-light, #greenclub .showcase .left .carousel .image-dark{
    box-shadow: none;   
}
.flickity-button-icon{
    transition: 0.3s ease transform;
}
.backbutton {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    margin: 0;
    position: fixed;
    top: 20px;
    font-size: 15px;
    font-weight: 700;
    left: 125px;
    z-index: 3;
    transition: 0.3s ease transform;
    border-radius: 50px;
}
.backbutton:hover{
    background: #efefef;
    transform: scale(1.03);
    color: #363636;
}
.backbutton:active{
    transform: scale(1.06);
}
.login-error {
    color: #a80000 !important;
}
.login-success {
    color: #00ad0d !important;
}
#contact-bin {
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background: #108e00;
    padding: 15px;
    margin-bottom: 20px;
    transition: 0.3s ease margin-bottom;
    display: none;
}
.chrome-frame-2 {
    background-image: url("img/loading.gif");
    background-position: center center;
    background-size: 100px 100px;
    background-repeat: no-repeat;
}
.portfolio-image {
	height: 200px;
	float: left;
	margin: 0 20px 30px 0;
	border-radius: 100%;
	filter: grayscale(70%);
}
.a-special{
  	display: inline-block;
  	vertical-align: middle;
  	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  	position: relative;
  	overflow: hidden;
	font-weight: 700;
	transition: 0.15s ease-out transform;
	margin: 10px 10px 0 0;
}
.a-special:before {
  	content: "";
  	position: absolute;
  	z-index: -1;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background: gray;
  	height: 10px;
  	-webkit-transform: translateY(6px);
  	transform: translateY(6px);
  	transition: 0.15s ease-out transform;
}
.a-special .fas{
	font-size: 80%;
}
.a-special:hover:before, .a-special:focus:before, .a-special:active:before {
	transform: translateY(0);
}
.a-special:active{
	transform: scale(1.03);
}

/* Responsive Queries */
@media only screen and (max-width: 1500px){
    .contact {
        /*left: calc(-92% + 80px);*/
        transform: translateX(-92vw) translateX(80px);
        width: calc(92% + 15px);
    }
    .backbutton{
        left: 105px;
    }
    .wrapper{
        width: calc(100% - 95px);
        margin-left: 95px;
    }
    body.contact-open .contact{
        /*left: -15px;*/
        transform: translateX(-15px);
    }
    .contact-button {
        right: 15px;
        font-size: 50px;
    }
    .bigcheese{
        font-size: 250px;
    }
    .title{
        font-size: 23px;
    }
    .content h3{
        font-size: 18px;
    }
    .content h1{
        font-size: 70px;
    }
}
@media only screen and (max-width: 1350px){
    .showcase h1{
        font-size: 40px;
    }
    .showcase .right p, .languages, .right img{
        width: 410px;
        font-size: 18px;
    }
    .showcase .button{
        padding: 10px 15px;
        font-size: 18px;
    }
}
@media only screen and (max-width: 1104px){
    .content {
        max-width: 85%;
    }
    .contact .content{
        margin-left: 5%;
    }
    body.contact-open .contact .content{
        margin-left: calc(2.5% + 40px);
    }
}
@media only screen and (max-width: 1104px) and (orientation: landscape){
    .showcase h1{
        font-size: 35px;
    }
    .showcase .right p, .languages, .right img{
        width: 340px;
        font-size: 16px;
    }
    .languages{
        width: 340px;
        font-size: 14px;
    }
    .showcase .button{
        padding: 8px 12px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 950px){
    .contact .content{
        max-width: 83%;
    }
    .hamburger{
        top: 8px; right: 8px;
        padding: 8px;
    }
    .hamburger-box{
        width: 40px;
        height: 40px;
    }
    .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after{
        width: 40px;
        height: 4px;
    }
    .hamburger-inner:before{
        top: -10px;
    }
    .hamburger-inner:after{
        bottom: -10px;
    }
    .contact .button{
        font-size: 19px;
    }
    .contact input[type="text"], .contact input[type="date"], .contact input[type="datetime"], .contact input[type="email"], .contact input[type="number"], .contact input[type="search"], .contact input[type="tel"], .contact input[type="time"], .contact input[type="url"], .contact textarea, .contact select {
        font-size: 15px;
    }
    .input-wrap input{
        margin-top: 6px !important;
    }
    .showcase{
        width: 98%;
    }
    .right{
        margin: 10px 15px 10px 10px;
    }
	.portfolio-image{
		height: 150px;
	}
}
@media only screen and (max-width: 850px){
    .content.portfolio {
        max-width: 90%;
    }
    .contact .content{
        max-width: calc(92% - 50px);
    }
    .contact {
        /*left: calc(-92% + 50px);*/
        transform: translateX(-92vw) translateX(50px);
    }
    .backbutton{
        left: 75px;
    }
    .wrapper{
        width: calc(100% - 65px);
        margin-left: 65px;
    }
    .contact-button {
        right: 10px;
        font-size: 35px;
    }
    .bigcheese{
        font-size: 190px;
    }
    .title{
        font-size: 23px;
    }
    .menu-item{
        font-size: 28px;
        margin: 14px auto;
    }
    .content h1{
        font-size: 55px;
    }
    .content .h3{
        font-size: 13px;
    }
}

@media only screen and (max-width: 850px) and (orientation: landscape), only screen and (max-width: 500px) and (orientation: portrait){
    .showcase h1{
        font-size: 35px;
    }
    .showcase .right p, .languages, .right img{
        width: 300px;
        font-size: 14px;
    }
    .languages{
        margin-bottom: 0;
    }
    .languages span{
        border-radius: 2px;
        padding: 2px 4px;
        margin: 1px;
    }
    .showcase .button{
        padding: 5px 10px;
        font-size: 13px;
    }
    .right{
        margin-bottom: 30px;
    }
	.portfolio-image{
		margin-bottom: 10px;
		border-radius: 0;
	}
	.about-me{
		font-size: 15px !important;
	}
	.a-special{
		display: inline-block;
	}
}
@media (orientation:portrait){
    .showcase {
        display: block;
        height: auto;
        min-height: 0;
        margin: auto;
        margin-top: 80px;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
    }
    .left:not(.portfolio-item){
        width: 80%;
        margin: 5px auto;
    }
    .right{
        margin: auto;
        margin-bottom: 30px;
        width: 80%;
    }
    .showcase h1{
        margin-top: 20px;
    }
    .showcase .right p, .languages, .right img{
        width: 100%;
        margin: auto;
        margin-bottom: 5px;
    }
    .browser-window-mobile{
        width: 50%;
    }
    .browser-window-mobile img{
        border-radius: 4vw; 
        background-position-y: 8.5vw;
    }	
}
@media (orientation:portrait) and (min-width: 1100px){
    .browser-window-mobile{
        width: 40%;
    }
    .browser-window-mobile img{
        border-radius: 2.05vw;   
    }
}
@media only screen and (max-width: 640px){
    .content.portfolio {
        max-width: 95%;
    }
    .bigcheese{
        font-size: 130px;
    }
    .title{
        font-size: 20px;
    }
    .contact .half{
        width: calc(100% - 10px);
    }
    .content .h3{
        text-align: justify;
    }
}
@media only screen and (max-width: 575px){
    .bigcheese{
        font-size: 120px;
    }
    .title{
        padding: 20px;
		max-width: 350px;
    }
    .contact {
        /*left: calc(-92% + 30px);*/
        transform: translateX(-92vw) translateX(30px);
    }
    .backbutton{
        left: 55px;
    }
    .wrapper{
        width: calc(100% - 45px);
        margin-left: 45px;
    }
    .contact-button {
        right: 4px;
        font-size: 30px;
    }
    footer{
        text-align: center;
    }
    .portfolio-filter{
        font-size: 15px;
        padding: 3px;
    }
    .portfolio-filters:before{
        left: 3px;   
    }
}
@media only screen and (max-width: 400px){
    .portfolio-item{
        height: 210px;
    }
    .portfolio-item .portfolio-title{
        font-size: 18px;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 375px){
    .bigcheese{
        font-size: 95px;
    }
    .title{
        font-size: 17px;
        letter-spacing: 3px;
    }
    .showcase h1{
        font-size: 25px;
    }
}
@media only screen and (max-height: 900px){
    body.menu-open .menu{
        height: 70vh;
    }
}
@media only screen and (max-height: 600px){
    .contact{
        overflow-y: scroll;
    }
    body.menu-open .menu{
        height: 90vh;
    }
}
@media only screen and (max-height: 450px){
    body.menu-open .menu{
        height: 95vh;
    }
}
.ms-edge-icon {
    height: 1em;
    width: 1em !important;
    top: 0.1em;
    position: relative;
    display:inline !important;
}
.button:hover .ms-edge-icon {
    filter: invert(1);
}

.prize {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    background: #eeeeee;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    font-size: 18px;
}
.prize img{
    width: auto;
    display: block;
    float: right;
    margin-right: 15px;
}
.prize:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
}
.prize:active{
    transform: scale(0.95);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
body.dark .prize{
    background: #4d4d4d;
}

.prize-bin {
    width: 100%;
    margin-top: 25px;
}
